
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>

<div>
	<table style="width:100%;background-color:rgb(242,242,242);font-family:montserrat">
	  	<tr>
		    <td>
		    	<img src="https://s3-ap-southeast-1.amazonaws.com/tripworld.hotel.images/assets/img/logo-transparent.png" alt="" style="display:block;margin:0 auto;width:140px;margin-bottom:20px;margin-top:40px">

		    	<table style="width:800px;margin-left:auto;margin-right:auto;background:white;padding:20px 40px 40px 40px;border-radius:10px">

		    		<tr style="vertical-align:top">
		    			<td colspan="2">
		    				<h1 style="font-family:montserrat;font-size:18px;text-align:left;border-bottom:2px solid #ef5923;padding-bottom:10px">Booking Confirmation Detail</h1>
		    			</td>
		    		</tr>

		    		<tr>
		    			<td style="width:50%">
		    				<table>
		    					<tr>
		    						<td>
		    							<img src="https://s3-ap-southeast-1.amazonaws.com/tripworld.hotel.images/assets/img/icon-check.png" alt="" style="width:30px;margin-right:5px">
		    						</td>
		    						<td>
		    							<p style="margin:0;font-size:14px">Thanks <span>{{customerName}}</span> !!!</p>
		    							<h4 style="margin:5px 0">Your booking in <span>{{productAddress}}</span> is confirmed !</h4>
		    						</td>
		    					</tr>
		    				</table>
		    			</td>
		    			<td style="width:50%">
		    				<h1 style="font-family:montserrat;font-size:14px;text-align:right;margin:0;color:#ef5923">Confirmation Number: <span>{{orderNumber}}</span></h1>
		    				<p style="font-family:montserrat;font-size:13px;font-weight:bold;margin-top:5px;text-align:right;padding-bottom:10px;margin:0">PIN Code: <span>{{orderPin}}</span></p>
		    			</td>
		    		</tr>
		    		
		    		<tr>
		    			<td colspan="2" style="padding:10px 0">
		    				<table>
		    					<tr>
		    						<td>
		    							<h4 style="margin:5px;font-size:24px;font-weight:bold;color:#ef5923">{{partnerPartnerName}}</h4>
		    						</td>
		    					</tr>

		    					<tr>
		    						<td>
		    							<p style="margin:5px"><img src="https://s3-ap-southeast-1.amazonaws.com/tripworld.hotel.images/assets/img/location.png" alt="" style="vertical-align:middle;width:25px">{{partnerPartnerAddress}}.</p>
		    						</td>
		    						
		    					</tr>

		    					<tr>
		    						<td>
		    							<p style="margin:5px"><img src="https://s3-ap-southeast-1.amazonaws.com/tripworld.hotel.images/assets/img/phone.png" alt="" style="vertical-align:middle;width:28px"> Phone: {{tripworldSupportPhone}}</p>
		    						</td>
		    						
		    					</tr>

		    					<tr>
		    						<td>
		    							<p style="margin:5px"><img src="https://s3-ap-southeast-1.amazonaws.com/tripworld.hotel.images/assets/img/email.png" alt="" style="vertical-align:middle;width:25px"> Email: <a href="mailto:abdul@tripworld.com" target="_blank">{{tripworldSupportEmail}}</a></p>
		    						</td>
		    						
		    					</tr>

		    					<tr>
		    						<td>
		    							
		    						</td>
		    						
		    					</tr>
		    				</table>

		    				<table>
		    					<tr>
		    						<td>Your Reservation</td>
		    						<td>{{searchRequestNightStays}} Night, {{orderItemsLength}} Room</td>
		    					</tr>

		    					<tr>
		    						<td>Check-in</td>
		    						<td>{{searchRequestCheckIn}} ({{partnerCheckInTime}})</td>
		    					</tr>

		    					<tr>
		    						<td>Check-out</td>
		    						<td>{{searchRequestCheckOut}} ({{partnerCheckOutTime}})</td>
		    					</tr>
		    				</table>

		    			</td>
		    		</tr>

		    		<tr style="vertical-align:top">
		    			<td colspan="2" style="background:#ef5923;padding:40px;border-radius:10px">
		    				<table style="width:100%;text-align:center;font-family:montserrat;color:white">
	    						<tr style="vertical-align:top">
	    							<td style="width:40%;padding:0 20px">
	    								<h4>Address</h4>
	    								<p>Saheel Tower 2 behind al mulla plaza, Office No 1006, Alnahda 1, Dubai, UAE.</p>
	    							</td>
	    							<td style="width:30%;padding:0 20px">
	    								<h4>Email</h4>
	    								<p style="margin:0 0 5px 0"><a href="mailto:info@tripworld.com" target="_blank">info@tripworld.com</a></p>
	    								<p style="margin:0 0 5px 0"><a href="mailto:support@tripworld.com" target="_blank">support@tripworld.com</a></p>
	    							</td>
	    							<td style="width:30%;padding:0 20px">
	    								<h4>Phone</h4>
	    								<p style="margin:0 0 5px 0">+971 52 123 4567</p>
	    								<p style="margin:0 0 5px 0">+971 4 1	23 4567</p>
	    							</td>
	    						</tr>
	    						<tr>
	    							<td colspan="3">
	    								<a href="https://www.facebook.com/" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/tripworld.hotel.images/assets/img/fb.png" alt="" style="width:40px;height:40px;margin:3px" title="Facebook"></a>
	    								<a href="https://twitter.com/?lang=en" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/tripworld.hotel.images/assets/img/twitter.png" alt="" style="width:40px;height:40px;margin:3px" title="Twitter"></a>
	    								<a href="https://www.instagram.com/" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/tripworld.hotel.images/assets/img/insta.png" alt="" style="width:40px;height:40px;margin:3px" title="Instagram"></a>
	    								<a href="https://www.youtube.com/" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/tripworld.hotel.images/assets/img/youtube.png" alt="" style="width:40px;height:40px;margin:3px" title="Youtube"></a>
	    								<a href="https://www.pinterest.com/" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/tripworld.hotel.images/assets/img/pinterest.png" alt="" style="width:40px;height:40px;margin:3px" title="Pinterest"></a>
	    							</td>
	    						</tr>
	    						<tr>
	    							<td colspan="3">
	    								<p style="color:white;font-size:12px;text-align:justify;border-top:1px solid white;padding-top:15px;padding-bottom:15px;border-bottom:1px solid white">The contents of this email message and any attachments are intended solely for the addressee(s) and may contain confidential and/or privileged information and may be legally protected from disclosure. If you are not the intended recipient of this message or their agent, or if this message has been addressed to you in error, please immediately alert the sender by reply email and then delete this message and any attachments. If you are not the intended recipient, you are hereby notified that any use, dissemination, copying, or storage of this message or its attachments is strictly prohibited. </p>
	    								<p style="text-align:center;color:white;font-size:12px;margin:20px">Copyright 2018 Tripworld.com | All Rights Reserved.</p>
	    							</td>
	    						</tr>
	    					</table>
		    			</td>
		    		</tr>
		    	</table>
		    </td>
	  	</tr>
	</table>
</div>
</body></html>